/***
  MAIN COMPONENTS
***/
/*
html {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #59585e;
}
*/

body {
  background-color: #e6e6e6 !important;
}
/***
header {
  padding: 5px;
  border-bottom: solid 1px #c2d6d6;
  height: 45px;
}

footer {
  padding: 5px;
  border-top: solid 1px #c2d6d6;
  height: 45px;
}
***/



/***
  LOGIN PAGE
***/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  font-family: "Roboto", sans-serif;
}

.errorloginpassword {
  display: none;
  color: red;
}

.login-page {
  margin-top: 30%;
  width: 100%;
}
.form {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .radio-gender input {
  width: 20%;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/***
  HOME PAGE
***/
.homeImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#mainDiv {
  margin: 25px 5px;
  height: 460px;
}

#grid {
    position: relative;
    top: 15%;
    left: -5%;
    width: 50%;
    margin: auto;
    padding: 0; /* Clears unordered list default of 40px */
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li, #modalNewGroup-image {
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
}

#grid li *, #modalNewGroup-image * {
  visibility: visible;
}

#grid li .hexagon, #modalNewGroup-image .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6){
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) {
    margin-left: 0.5%;
}

#grid li a, #self, #notifications {
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

#modalNewGroup-image .hexagon {
  background-color: red;
}

#notifications {
  background-color: #fff;
  background-image: url(../img/icon/notification.png);
  background-repeat: no-repeat;
  background-position: center;
}

#self {
  background-color: green;
}

.addGroup {
  background-color: #fff;
  background-image: url(../img/icon/add.png);
  background-repeat: no-repeat;
  background-position: center;
}

/***
  MODALS
***/

.modal-title {
  text-align: center;
}

.modal-content {
  padding: 5px;
}

/***
  SETTINGS MODAL
***/

#modalSettings {
  display: none;
  min-height: 150px;
}

.settings-panel-left, .settings-panel-right {
  display: inline-block;
}

.settings-panel-left {
  width: 200px;
  float:left;
}
.settings-panel-right {
  width: 250px;
}

.settings-item {
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
  cursor: pointer;
  display: block;
}

.settings-panel-left ul li {
  float: none;
}

.settings-panel-left .nav-tabs > li > a {
  border-radius: 0px;
  margin: 0px !important;
}

.settings-panel-left li > a:hover {
  border: none !important;
}

.settings-panel-left  li.active > a {
  border: none !important;
}

.settings-panel-left-menu {
  padding: 0px !important;
}

.settings-panel-right {
  padding: 0px 10px;
}

#modalSettings .modal-body {
  height: 500px;
}

#modalNewGroup .modal-body {
  height: 250px;
}

#modalSettings h3 {
  color: blue;
}

#modalSettings h3:first-child {
  margin-top: 0px !important;
}

/***
  NEW GROUP MODAL
***/

#modalNewGroup .modal-content{
  width: 650px;
}

#modalNewGroup-send {
  position: absolute;
  top: 75%;
  left: 80%;
}

#modalNewGroup form {
  height: 100%;
}

#modalNewGroup form ul {
  list-style: none;
  padding: 10px !important;
}

#modalNewGroup form ul li{
  padding: 0px;
  display: inline-block;
}

#modalNewGroup form ul li:nth-child(1){
  float: left;
  width: 270px;
}

#modalNewGroup form ul li:nth-child(2){
  width: 300px;
  margin-left: 15px;
}

#modalNewGroup form ul li textarea{
  resize: none;
  width: 265px;
}

#modalNewGroup form ul li input{
  width: 265px;
  margin-bottom: 10px;
  border: none !important;
}

#modalNewGroup form ul li #modalNewGroup-name{
  border-bottom: 1px solid #c1c1f0 !important;
}

#modalNewGroup #modalNewGroup-image-select{
  position: relative;
  top: 60%;
  left: 35%;
}

/***
  HEADER
***/

.search-form .form-group {
  margin-top: 10px;
  float: left !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}

.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

/***
  SEARCHBAR
***/

.resultsSearch {
  color: black;
  background-color: white;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #EFEFEF;
  display: none;
}

/** NAV BAR CUSTOM **/
.addmargintop {
  margin-top: 60px;
}

.navbar-custom {
  background-color: #4CAF50;
  color: #FFFFFF;
  border-radius: 0;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar-custom .navbar-nav > li > a {
  color: #FFF;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #FFFFFF;
	background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #33AA33;
}

.navbar-custom .navbar-brand {
  color: #EEEEEE;
}
.navbar-custom .navbar-toggle {
  background-color: #EEEEEE;
}
.navbar-custom .icon-bar {
  background-color: #33AA33;
}

.btn{
  background: none;
  border: 0;
  outline: 0;
}

.btnsettings > i{
  margin-top: 6px;
  font-size: 25px;
}

.btncontact > i{
  margin-top: 6px;
  font-size: 25px;
}

.btnhome > i{
  margin-top: 4px;
  margin-left: 10px;
  font-size: 30px;
}

.rowWithNoMargin {
  margin-right: 0px !important;
}

/***
  SCROLLBAR
***/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
