<button class="btn" onclick="getSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
  <i class="fa fa-cog" aria-hidden="true"></i>
</button>
<nav class="nav-collapse" role="navigation">
    <ul class="nav">
        <li><a href="#">Lien #1</a></li>
        <li class="divider-vertical"></li>
        <li><a href="#">Lien #3</a></li>
        <li class="divider-vertical"></li>
        <li><a href="#">Lien #4</a></li>
    </ul>
</nav>
