<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Palendar</title>

	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/bootstrap-3.3.7-dist/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../js/header.js"></script>
	<script src="../js/home.js"></script>
	<script src="../js/checklogin.js"></script>
	<script src="../css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</head>
<header>
	<nav class="navbar navbar-custom navbar-fixed-top">
	  <div class="row rowWithNoMargin">
	    <div class="col-xs-1">
	      <button class="btnheader btnhome" onclick="getHome();">
	        <i class="fa fa-home" aria-hidden="true"></i>
	      </button>
	    </div>
	    <div class="col-xs-1">
	      <button class="btnheader btncontact" onclick="getContact();">
	        <i class="fa fa-users" aria-hidden="true"></i>
	      </button>
	    </div>
	    <div class="col-xs-9">
	      <form action="" class="search-form">
	          <div class="form-group has-feedback">
	            <label for="search" class="sr-only">Search</label>
	            <input type="text" class="form-control" name="search" id="search" placeholder="Search...">
	            <span class="glyphicon glyphicon-search form-control-feedback"></span>
	            <div class="resultsSearch">
	              <table class="table table-condensed">
	      			    <tbody>

	      			    </tbody>
	      			  </table>
	            </div>
	          </div>
	      </form>
	    </div>
	    <div class="col-xs-1">
	      <button class="btnheader btnsettings" data-toggle="modal" data-target="#modalSettings"><i class="fa fa-cog" aria-hidden="true"></i></button>
	    </div>
	  </div>
	</nav>

	<!-- Modal for settings -->
	<div class="modal fade" id="modalSettings" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Settings</h4>
	      </div>
	      <div class="modal-body">
	        <!-- Modal : left part -->
	        <div class="settings-panel-left">
	          <div class="navbar navbar-default settings-navigation" role="navigation">
	            <div class="navbar-collapse collapse sidebar-navbar-collapse settings-panel-left-menu">
	              <ul class="nav nav-tabs nav-stacked settings-nav">
	                <li><a href="#settings-accsettings" data-toggle="tab">Account settings</a></li>
	                <li><a href="#settings-aboutus" data-toggle="tab">About us</a></li>
	                <li><a href="#settings-support" data-toggle="tab">Support</a></li>
	                <li><a href="#settings-calsync" data-toggle="tab">Import calendars</a></li>
	                <li><a onclick="logout()" id="logout"> Logout </a></li>
	              </ul>
	            </div>
	          </div>
	        </div>
	        <!-- END MODAL LEFT PART -->
	        <!-- Modal : right part -->
	        <div class="settings-panel-right tab-content">
	          <!-- Account settings -->
	          <div class="tab-pane fade" id="settings-accsettings">
	            <h3 class="settings-item" data-id="settings-accsettings-general"> General </h3>
	            <div id="settings-accsettings-general">
								<div class="settings-accsettings-text">
									<label class="control-label" for="settings-accsettings-profile-fn"> First name </label>
								  <input type="text" name="settings-accsettings-profile-fn" id="settings-accsettings-profile-fn">
									<label class="control-label" for="settings-accsettings-profile-ln"> Last name </label>
								  <input type="text" name= id="settings-accsettings-profile-ln">
									<label class="control-label" for="settings-accsettings-profile-mail"> Mail </label>
								  <input type="text" name="settings-accsettings-profile-mail" id="settings-accsettings-profile-mail">
									<label class="control-label" for="settings-accsettings-profile-password"> Password </label>
								  <input type="password" name="settings-accsettings-profile-password" id="settings-accsettings-profile-password">
								</div>
								<div>
								  <input type="file" name="settings-accsettings-profile-image" accept="image/*" id="modalSettings-image-input">
									<div id="modal-image-select-preview">
								  	<div id="modal-image-select">
									    <div id="modal-image">
									      <img class="hexagon" id="modal-image-preview">
									    </div>
									  </div>
									</div>
								</div>
	            </div>
	            <h3 class="settings-item" data-id="settings-accsettings-notifications"> Notifications </h3>
	            <div id="settings-accsettings-notifications">
	              Notifications ...
	            </div>
	            <h3 class="settings-item" data-id="settings-accsettings-security"> Security </h3>
	            <div id="settings-accsettings-security">
	              Security ...
	            </div>
	            <h3 class="settings-item" data-id="settings-accsettings-lang"> Language </h3>
	            <div id="settings-accsettings-lang">
	              Language ...
	            </div>
	          </div>
	          <!-- About us -->
	          <div class="tab-pane fade" id="settings-aboutus">
	            <h3 class="settings-item" data-id="settings-aboutus-whoweare"> General </h3>
	            <div id="settings-aboutus-whoweare">
	              We are PALENDAR !
	            </div>
	            <h3 class="settings-item" data-id="settings-aboutus-other"> Notifications </h3>
	            <div id="settings-aboutus-other">
	              Other stuff ...
	            </div>
	            <h3 class="settings-item" data-id="settings-aboutus-whywedoit"> Security </h3>
	            <div id="settings-aboutus-whywedoit">
	              BECAUSE
	            </div>
	          </div>
	          <!-- Support -->
	          <div class="tab-pane fade" id="settings-support">
	            <h3 class="settings-item" data-id="settings-support-help"> Get some help </h3>
	            <div id="settings-support-help">
	              Help
	            </div>
	            <h3 class="settings-item" data-id="settings-support-assistance"> Assistance </h3>
	            <div id="settings-support-assistance">
	              Notifications ...
	            </div>
	            <h3 class="settings-item" data-id="settings-support-problem"> Signal a problem </h3>
	            <div id="settings-support-problem">
	              <form>
	                <input type="text" name="settings-support-problem-title" palceholder="Problem">
	                <input type="text" name="settings-support-problem-core" placeholder="Your message">
	                <button type="submit" class="btn"> Send ! </button>
	              </form>
	            </div>
	            <h3 class="settings-item" data-id="settings-support-terms"> Terms </h3>
	            <div id="settings-support-terms">
	              Terms
	            </div>
	            <h3 class="settings-item" data-id="settings-support-tellus"> Tell us something </h3>
	            <div id="settings-support-tellus">
	              <form>
	                <input type="text" name="settings-support-tellus-title" palceholder="Subject">
	                <input type="text" name="settings-support-tellus-core" placeholder="Your message">
	                <button type="submit" class="btn"> Send ! </button>
	              </form>
	            </div>
	          </div>
	          <!-- Calendar syncing -->
	          <div class="tab-pane fade" id="settings-calsync">
							<h3 class="settings-item" data-id="settings-calsync-import"> Import a calendar </h3>
							<table class="tabAllCalendar">
								<tr>
									<form>
										<td>
											<input id="inputCalendarName" type="text" name="settings-calsync-import-name" placeholder="Calendar name" required>
										</td>
										<td>
											<input id="inputCalendarUrl" type="text" name="settings-calsync-import-url" placeholder="File URL (.ics only)" required>
										</td>
										<td>
											<input type="color" name="settings-calsync-import-color" class="colorpicker-perso">
										</td>
										<td>
											<button id="addCalendar"><i class="fa fa-check" aria-hidden="true"></i></button>
										</td>
									</form>
								</tr>
							</table>
	          </div>
	        </div>
	        <!-- END MODAL RIGHT PART -->
	      </div>
	    </div>
	  </div>
	</div>
	<!-- END MODAL -->
</header>
<body>
	<!-- Do mediascreen for mainDiv -->
	<div id="mainDiv">
		<!-- get info result
	  <div id="status"></div>
	  <button class="btn" onclick="getInfo()">Get Info</button>
		-->
		<ul id="grid" class="clear">
			<li>
				<div class="hexagon hide"></div>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup" data-favid="1"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup" data-favid="2"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup" data-favid="3"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<div class="hexagon" id="self"></div>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup"><div class="hexagon addGroup"></div></a>
			</li>
			<li>
				<div class="hexagon hide"></div>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup" data-favid="4"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup" data-favid="5"><div class="hexagon addGroup group-fav"></div></a>
			</li>
		</ul>

		<!-- new group modal -->
		<div class="modal fade" id="modalNewGroup" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Create you own group</h4>
						<p class="modal-title"> Creating your group allows you to keep in touch with your friends ! </p>
		      </div>
		      <div class="modal-body">
						<form class="form-horizontal" method="POST" action="../php/createGroup.php">
							<span id="modalNewGroup-favid" name="group-favid" style="display:none;"></span>
							<ul>
								<li>
									<div class="control-group">
										<label class="control-label" for="modalNewGroup-name"> Group name </label>
										<div class="controls">
						    			<input type="text" name="name" id="modalNewGroup-name" placeholder="Type in your group name" required>
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
											<input type="text" name="description" placeholder="Put your description here" id="modalNewGroup-description"></input>
										</div>
									</div>
								</li>
								<li>
									<div class="control-group">
										<div class="controls">
											<input type="file" name="fileToUpload" accept="image/*" id="modalNewGroup-image-input">
											<div id="modalNewGroup-image-select">
												<div id="modalNewGroup-image">
													<img class="hexagon" id="modalNewGroup-image-preview">
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="control-group">
								<div class="controls">
				    			<!-- <input type="image" id="modalNewGroup-send"> -->
									<input type="submit" value="Create !">
								</div>
							</div>
					  </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- END MODAL -->
	</div>
	<div id="notifications">
		<span class="notif-open"></span>
    <span class="notif-close"></span>
		<div class="notifications-invitation">
			<table class="table table-condensed">
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="notifications-invitation-group">
			<table class="table table-condensed">
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
