<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Palendar</title>
	<script src="http://www.w3schools.com/lib/w3data.js"></script>

	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/bootstrap-3.3.7-dist/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../js/header.js"></script>
	<script src="../js/home.js"></script>
	<script src="../js/checklogin.js"></script>
	<script src="../css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</head>
<header>
	<div w3-include-html="header.html"></div>
</header>
<body>
	<!-- Do mediascreen for mainDiv -->
	<div id="mainDiv">
		<!-- get info result
	  <div id="status"></div>
	  <button class="btn" onclick="getInfo()">Get Info</button>
		-->
		<ul id="grid" class="clear">
			<li>
				<div class="hexagon hide"></div>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<div class="hexagon" id="self"></div>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup"><div class="hexagon addGroup"></div></a>
			</li>
			<li>
				<div class="hexagon hide"></div>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup"><div class="hexagon addGroup group-fav"></div></a>
			</li>
			<li>
				<a data-toggle="modal" data-target="#modalNewGroup"><div class="hexagon addGroup group-fav"></div></a>
			</li>
		</ul>

		<!-- new group modal -->
		<div class="modal fade" id="modalNewGroup" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Create you own group</h4>
						<p class="modal-title"> Creating your group allows you to keep in touch with your friends ! </p>
		      </div>
		      <div class="modal-body">
						<form class="form-horizontal" method="POST" action="home" >
							<ul>
								<li>
									<div class="control-group">
										<label class="control-label" for="modalNewGroup-name"> Group name </label>
										<div class="controls">
						    		<input type="text" name="group-name" id="modalNewGroup-name" placeholder="Type in your group name" required>
									</div>
									<div class="control-group">
										<div class="controls">
											<textarea rows="4" name="group-description" placeholder="Put your description here" id="newGroup-description"></textarea>
										</div>
									</div>
								</li>
								<li>
									<div class="control-group">
										<div class="controls">
											<input type="file" name="group-image" accept="image/*" id="modalNewGroup-image-input">
											<div id="modalNewGroup-image-select">
												<div id="modalNewGroup-image">
													<img class="hexagon" id="modalNewGroup-image-preview">
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<div class="control-group">
								<div class="controls">
				    			<!-- <input type="image" id="modalNewGroup-send"> -->
									<button> Valider </button>
								</div>
							</div>
					  </form>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- END MODAL -->
	</div>
	<div id="notifications">
		<span class="notif-open"></span>
    <span class="notif-close"></span>
		<div class="notifications-invitation"><p>Vous avez été invité à rejoindre le groupe Palendar</p></div>
		<div class="notifications-group-delete"><p>Votre groupe wesh wesh a été supprimé</p></div>
	</div>
</body>
<script>
	w3IncludeHTML();
</script>
</html>
