<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Palendar</title>

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/bootstrap-3.3.7-dist/css/bootstrap.min.css">

	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../js/tabulous.js"></script>
	<script src="../js/app.js"></script>

</head>
<body>
  <form method="POST" action="search.html">
    <input type="search" class="search">
    <input type="submit" name="submit" value="Rechercher" class="submit">
  </form>

	<div id="wrapper">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1" title="" class="tabgroups">Groups</a></li>
				<li><a href="#tabs-2" title="" class="tabfriends">Friends</a></li>
				<li><a href="#tabs-3" title="" class="tabevents">Events</a></li>
			</ul>

			<div id="tabs_container">
				<div id="tabs-1">
					<table class="groups content">
						<tr>
							<td><i class="fa fa-circle-o" aria-hidden="true"></i>Group 1</td>
						</tr>
						<tr>
							<td><i class="fa fa-circle-o" aria-hidden="true"></i>Group 2</td>
						</tr>
					</table>
				</div>
				<div id="tabs-2">
					<table class="friends content">
						<tr>
							<td><i class="fa fa-circle-o" aria-hidden="true"></i>Friend 1</td>
						</tr>
						<tr>
							<td><i class="fa fa-circle-o" aria-hidden="true"></i>Friend 2</td>
						</tr>
						<tr>
							<td><i class="fa fa-circle-o" aria-hidden="true"></i>Friend 3</td>
						</tr>
					</table>
				</div>
				<div id="tabs-3">
					<table class="events content">
						<tr>
							<td><i class="fa fa-circle-o" aria-hidden="true"></i>Event 1</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
	<div w3-include-html="footer.html"></div>
</footer>
<script>
	w3IncludeHTML();
</script>
</html>
